body{
    background-color: rgb(250, 235, 215);
    background-attachment: fixed;
    font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
}

.About_us, .fond,.img_content,.img_content2,.Services,.Contact,.Work,footer,.content1,.M_services1, .M_services2,.media{
    position: absolute;
}
header{
    position: fixed;
    background: linear-gradient(
        90deg,
        rgb(128, 107, 88)0%,
        rgb(56, 42, 30)70%
    );
    height: 10%;
    width: 100%;
    top: 0%;
    left: 0%;
    display: flex;
    border-bottom: solid black 1px;
}
.title{
    text-align: center;
    font-size: 3vh;
}
a{
    font-size: large;
    color: white;
    text-decoration: none;
}
.menu{
    width: auto;
    list-style: none;
    display:  flex;
}
.menu li{
    padding-left: 5%;
    padding-right: 5%;
}
.menu li a{
    font-size: 1.5vw;
}
.menu li a:hover{
    color: rgb(128, 107, 88);
    margin-left: -12px;
    margin-top: -12px;
    width: 30px;
    height: 30px;
    border: 1px solid var(--primary-color);
    z-index: 10000000;
    -webkit-transition: all 0.08s ease;
    -o-transition: all 0.08s ease;
    transition: all 0.08s ease;
}

nav{
    width: 55%;
    position: absolute;
    right: 0;
}
.logo{
    left: 10%;
    height: 90%;
    width: 15%;
    position: relative;
    left: 5%;
}
.About_us{
    background-image: url(https://lestresorsderable.com/img/cms/article%20blog/parc-mauricie.jpeg);
    background-size: cover;
    height: 60%;
    width: 100%;
    top: 10%;
    left: 0%;
    display: flex;
}
.fond{
    background-color: rgba(0, 0, 0, 0.541);
    left: 0%;
    top: 0%;
    height: 100%;
    width: 100%;
}
.img_content{
    border: solid black;
    height: 80%;
    top: 10%;
    left: 10%;
}
.img_content2{
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.6);
    height: 50%;
    bottom: 1%;
    left: 50%;
}

.Services{
    height: 40%;
    width: 90%;
    top: 75%;
    left: 5%;
    display: flex;
    flex-wrap: wrap;
}
.Work{
    background-image: url(../pictures/logo2.png);
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 70%;
    width: 100%;
    top: 120%;
    left: 0%;
    display: flex;
}

textarea{
    width: 100%;
    font-size: 2vh;
}
.media{
    height: 40%;
    width: 90%;
    top: 190%;
    left: 0%;
}

.Work .fond{
    display: flex;
}
.Contact{
    height: 70%;
    width: 100%;
    top: 240%;
    left: 0%;
    display: flex;
}
footer{
    color: white;
    background-color: black;
    width: 100%;
    height: 30%;
    bottom: -255%;
    left: 0%;
    display: flex;
    flex-wrap: wrap;
}
.content1,.content2,.content3{
    font-size: 1.25vw;
}
.content1{
    height: 90%;
    width: 40%;
    text-align: justify;
    color: rgb(255, 255, 255);
    top: 5%;
    left: 45%;
}
.content2{
    font-size: 2.5vw;
    position: absolute;  

}
.content3{
    color: white;
    border-radius: 20px;
    text-align: justify;
    position: relative;
    top: 10%;
    left: 20%;
    width: 25%;
    height: 85%;
}
.M_services{  
    font-size: 2.5vh;
    height: 50%;
    width: 8%;
    text-align: center;
    border-left: solid black;
    position: relative;
    top: 20%;
}

.M_services:hover{  
    width: 10%;
}
.form_M, .Data{
    font-size: 3vh;
    padding: 5%;
    position: relative;
    top: 10%;
}
.form_M{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.6);
    height: 70%;
    left: 10%;
}
.Data{
    background-color: white;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.6);
    left: 15%;
    height: 40%;
    text-decoration: none;
}
.TA{
    border: none;
    border-bottom:solid black 1px;
    border-radius: 1px;
    height: 3vh;
    width: 100%;
    font-size: 2vh;
}
.TA:hover{
    background-color: rgb(59, 93, 206);
    color: rgb(255, 255, 255);
}
.send{
    font-size: 2vh;
    width: 100%;
    background-color: rgb(46, 126, 163);
    height: 4vh;
    border-radius: 25px;
}

.send:hover{
    background-color: rgb(59, 93, 206);
}

iframe{
    position: relative;
    left: 10%;
}

.info{
    width: 33%;
    height: 100%;
    font-size: 2vh;
    align-content: center;
    text-decoration: none;
}


