
.img_content2{
    animation:slide-left 1.5s linear both
    }
@keyframes slide-left{
    0%{transform:translateX(0)}
    100%{transform:translateX(-50%)}
}

.M_services{
    animation:slide-rigth 2s linear both;
}
@keyframes slide-rigth{
    0%{transform:translateX(-500%)}
    90%{transform:translateX(-20%);}
    95%{transform:translateX(-15%);}
    97%{transform:translateX(-10%);}
    99%{transform:translateX(-5%);}
    100%{transform:translateX(0%)}
}
p{
    animation:scale-up-horizontal-center 1.5s;
}
@keyframes scale-up-horizontal-center{
    0%{transform:scaleX(.2)}
    100%{transform:scaleX(1)}
}

